*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.obj-class{
    max-width: 1200px;
    margin: auto;
}
#navbar{
    background-color: rgb(9, 48, 9);
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}
.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0.5rem 0.8rem; */
    padding: 1.5rem 0;
  
}
#logo{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-family:sans-serif;
}
.search-box{
    display: flex;
    gap: 0.6rem;
}
#search-engine{
   padding: 0.7rem 1.3rem;
   font-size: 1.3rem;
   border: none;
   border-radius: 2px;
}
#button{
    padding: 0.7rem 1.3rem;
    font-size: 1.3rem;
   border: none;
   border-radius: 2px;
   color: white;
   background-color:  rgb(13, 73, 13);
   cursor:pointer;
}
#bolg-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3rem 0;
    gap: 1rem;
}
.blog-card{
    width: 280px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    cursor: pointer;
}
.blog-card img{
    width: 100%;
    object-fit:cover;
    height: 280px;
}
.blog-card h2{
    font-size: 1 rem;
    font-weight: 900;
    margin-top: 1rem;
}
.blog-card:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.blog-card p{
    font-size: 1 rem;
    font-weight: 400;
    margin-top: 1rem;
}
@media(max-width:580px){
    #logo {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    .search-box {
      width: auto;
    }
    #search-engine {
        padding: 0.2rem 0.5rem;
        font-size: 1rem;
        border: none;
        border-radius: 2px;
    }
    .blog-card {
        width: 100%;
    }
}